:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Georgia', serif;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

body::before {
  content: "";
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  z-index: -1;
}

p, th, td, tr, label, input, select, .btn, button, span, strong {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}